spring:
  profiles:
    active: svil
    
  mvc:
   pathmatch:
    matching-strategy: ANT_PATH_MATCHER
     
info:
  app:
    name: '@project.artifactId@'
    version: '@project.version@'
    description: '@project.description@'
server:
  port: ${SERVER_PORT:8089}
  
  
configuration:

  wiam:
   end-point-base: ${WIAM0_ENDPOINT:https://localhost:8083/wiam}
   getAllAnagraficaWiam: ${WIAM0_GET_ANAG:https://localhost:8083/wiam/ag/get/{tiporicerca}/info/{valore}}
   
  cach0:
    end-point-base: ${CACH0_ENDPOINT:https://localhost8082/cach0}
    
  otpv0:
    end-point-base: ${OTPV0_ENDPOINT:https://localhost8083/otpv0}
    
  docv0:
    end-point-base: ${DOCV0_ENDPOINT:https://localhosto8083/docv0}
    
    get-pdf-base: ${DOCV0_GETPDF:https://localhost:8080/docv0/getPdf}
    
  